.list-warpper{
    list-style: none;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ant-list-item-action{
    list-style: none;
    display: flex;
    width: 105px;
    padding: 0;
    justify-content: space-between;
}
.ant-list-items{
    list-style: none;
    padding: 0 5px;
    height: 100%;
}
.ant-list-item{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.input{
    height: 30px;
    width: 200px;
    outline: none;
    font-size: 16px;
}

.ant-btn{
    width: 50px;
}
.content{
    flex: 1;
}
.content .text{
    width: 200px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
